:root{
    --fonte-principal: 'Krona+One';
    --color-backgroud: #e0fbfc;
    --color-primary-dark-blue: #3d5a80;
    --color-black: #293241;
    --color-orange: #ee6c4d;
    --color-gray: #98c1d9;
}

body {
background-color: var(--color-backgroud);
color:var(--color-primary-dark-blue);
font-family: var(--fonte-principal), sans-serif;
font-size: 16px;
font-weight: 400;

}

strong {
    color:var(--color-black)
}


table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}
table td {
	padding: 15px;
}
table thead td {
	background-color: var(--color-orange);
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
}
table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color:#dddfe1;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}

.containerGridTwo {
	display: grid; 
	grid-template-columns: 1fr 1fr; 
	gap: 0px 18px; 
  }

.item-grid-1{
	grid-column: 1;
}

.item-grid-3{
	grid-column: 3;
}



.containerGridThree {
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr; 
	gap: 0px 18px; 
  }